<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="APPLICATIONFOLDER">
            <Directory Id="assemblies" Name="assemblies" />
            <Directory Id="bg" Name="bg" />
            <Directory Id="config" Name="config" />
            <Directory Id="de" Name="de" />
            <Directory Id="dll" Name="dll" />
            <Directory Id="es_MX" Name="es-MX" />
            <Directory Id="fr" Name="fr" />
            <Directory Id="it" Name="it" />
            <Directory Id="JA" Name="JA" />
            <Directory Id="lt" Name="lt" />
            <Directory Id="nl" Name="nl" />
            <Directory Id="openmetaverse_data" Name="openmetaverse_data" />
            <Directory Id="pt_BR" Name="pt-BR" />
            <Directory Id="ref" Name="ref" />
            <Directory Id="ru" Name="ru" />
            <Directory Id="runtimes" Name="runtimes" />
            <Directory Id="zh_CN" Name="zh-CN" />
            <Directory Id="zh_TW" Name="zh-TW" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="ProductFilesComponentGroup">
            <Component Id="AIMLbot.dll" Directory="APPLICATIONFOLDER" Guid="*">
                <File Id="AIMLbot.dll" KeyPath="yes" Source="$(var.MEGAbolt.TargetDir)\AIMLbot.dll" />
            </Component>
            <Component Id="AxInterop.WMPLib.dll" Directory="APPLICATIONFOLDER" Guid="*">
                <File Id="AxInterop.WMPLib.dll" KeyPath="yes" Source="$(var.MEGAbolt.TargetDir)\AxInterop.WMPLib.dll" />
            </Component>
            <Component Id="BouncyCastle.Crypto.dll" Directory="APPLICATIONFOLDER" Guid="*">
                <File Id="BouncyCastle.Crypto.dll" KeyPath="yes" Source="$(var.MEGAbolt.TargetDir)\BouncyCastle.Crypto.dll" />
            </Component>
            <Component Id="BugSplatDotNetStandard.dll" Directory="APPLICATIONFOLDER" Guid="*">
                <File Id="BugSplatDotNetStandard.dll" KeyPath="yes" Source="$(var.MEGAbolt.TargetDir)\BugSplatDotNetStandard.dll" />
            </Component>
            <Component Id="CbtHook.dll" Directory="APPLICATIONFOLDER" Guid="*">
                <File Id="CbtHook.dll" KeyPath="yes" Source="$(var.MEGAbolt.TargetDir)\CbtHook.dll" />
            </Component>
            <Component Id="Interop.IWshRuntimeLibrary.dll" Directory="APPLICATIONFOLDER" Guid="*">
                <File Id="Interop.IWshRuntimeLibrary.dll" KeyPath="yes" Source="$(var.MEGAbolt.TargetDir)\Interop.IWshRuntimeLibrary.dll" />
            </Component>
            <Component Id="Interop.WMPLib.dll" Directory="APPLICATIONFOLDER" Guid="*">
                <File Id="Interop.WMPLib.dll" KeyPath="yes" Source="$(var.MEGAbolt.TargetDir)\Interop.WMPLib.dll" />
            </Component>
            <Component Id="LibreMetaverse.dll" Directory="APPLICATIONFOLDER" Guid="*">
                <File Id="LibreMetaverse.dll" KeyPath="yes" Source="$(var.MEGAbolt.TargetDir)\LibreMetaverse.dll" />
            </Component>
            <Component Id="LibreMetaverse.PrimMesher.dll" Directory="APPLICATIONFOLDER" Guid="*">
                <File Id="LibreMetaverse.PrimMesher.dll" KeyPath="yes" Source="$(var.MEGAbolt.TargetDir)\LibreMetaverse.PrimMesher.dll" />
            </Component>
            <Component Id="LibreMetaverse.Rendering.Meshmerizer.dll" Directory="APPLICATIONFOLDER" Guid="*">
                <File Id="LibreMetaverse.Rendering.Meshmerizer.dll" KeyPath="yes" Source="$(var.MEGAbolt.TargetDir)\LibreMetaverse.Rendering.Meshmerizer.dll" />
            </Component>
            <Component Id="LibreMetaverse.StructuredData.dll" Directory="APPLICATIONFOLDER" Guid="*">
                <File Id="LibreMetaverse.StructuredData.dll" KeyPath="yes" Source="$(var.MEGAbolt.TargetDir)\LibreMetaverse.StructuredData.dll" />
            </Component>
            <Component Id="LibreMetaverse.Types.dll" Directory="APPLICATIONFOLDER" Guid="*">
                <File Id="LibreMetaverse.Types.dll" KeyPath="yes" Source="$(var.MEGAbolt.TargetDir)\LibreMetaverse.Types.dll" />
            </Component>
            <Component Id="LibreMetaverse.Utilities.dll" Directory="APPLICATIONFOLDER" Guid="*">
                <File Id="LibreMetaverse.Utilities.dll" KeyPath="yes" Source="$(var.MEGAbolt.TargetDir)\LibreMetaverse.Utilities.dll" />
            </Component>
            <Component Id="log4net.dll" Directory="APPLICATIONFOLDER" Guid="*">
                <File Id="log4net.dll" KeyPath="yes" Source="$(var.MEGAbolt.TargetDir)\log4net.dll" />
            </Component>
            <Component Id="MB.ico" Directory="APPLICATIONFOLDER" Guid="*">
                <File Id="MB.ico" KeyPath="yes" Source="$(var.MEGAbolt.TargetDir)\MB.ico" />
            </Component>
            <Component Id="MBLSL.xml" Directory="APPLICATIONFOLDER" Guid="*">
                <File Id="MBLSL.xml" KeyPath="yes" Source="$(var.MEGAbolt.TargetDir)\MBLSL.xml" />
            </Component>
            <Component Id="MD5library.deps.json" Directory="APPLICATIONFOLDER" Guid="*">
                <File Id="MD5library.deps.json" KeyPath="yes" Source="$(var.MEGAbolt.TargetDir)\MD5library.deps.json" />
            </Component>
            <Component Id="MD5library.dll" Directory="APPLICATIONFOLDER" Guid="*">
                <File Id="MD5library.dll" KeyPath="yes" Source="$(var.MEGAbolt.TargetDir)\MD5library.dll" />
            </Component>
            <Component Id="MD5library.pdb" Directory="APPLICATIONFOLDER" Guid="*">
                <File Id="MD5library.pdb" KeyPath="yes" Source="$(var.MEGAbolt.TargetDir)\MD5library.pdb" />
            </Component>
            <Component Id="MEGAbolt.deps.json" Directory="APPLICATIONFOLDER" Guid="*">
                <File Id="MEGAbolt.deps.json" KeyPath="yes" Source="$(var.MEGAbolt.TargetDir)\MEGAbolt.deps.json" />
            </Component>
            <Component Id="MEGAbolt.dll" Directory="APPLICATIONFOLDER" Guid="*">
                <File Id="MEGAbolt.dll" KeyPath="yes" Source="$(var.MEGAbolt.TargetDir)\MEGAbolt.dll" />
            </Component>
            <Component Id="MEGAbolt.dll.config" Directory="APPLICATIONFOLDER" Guid="*">
                <File Id="MEGAbolt.dll.config" KeyPath="yes" Source="$(var.MEGAbolt.TargetDir)\MEGAbolt.dll.config" />
            </Component>
            <Component Id="MEGAbolt.exe" Directory="APPLICATIONFOLDER" Guid="*">
                <File Id="MEGAbolt.exe" KeyPath="yes" Source="$(var.MEGAbolt.TargetDir)\MEGAbolt.exe" />
            </Component>
            <Component Id="MEGAbolt.pdb" Directory="APPLICATIONFOLDER" Guid="*">
                <File Id="MEGAbolt.pdb" KeyPath="yes" Source="$(var.MEGAbolt.TargetDir)\MEGAbolt.pdb" />
            </Component>
            <Component Id="MEGAbolt.runtimeconfig.dev.json" Directory="APPLICATIONFOLDER" Guid="*">
                <File Id="MEGAbolt.runtimeconfig.dev.json" KeyPath="yes" Source="$(var.MEGAbolt.TargetDir)\MEGAbolt.runtimeconfig.dev.json" />
            </Component>
            <Component Id="MEGAbolt.runtimeconfig.json" Directory="APPLICATIONFOLDER" Guid="*">
                <File Id="MEGAbolt.runtimeconfig.json" KeyPath="yes" Source="$(var.MEGAbolt.TargetDir)\MEGAbolt.runtimeconfig.json" />
            </Component>
            <Component Id="MEGAboltSetup_x64.msi" Directory="APPLICATIONFOLDER" Guid="*">
                <File Id="MEGAboltSetup_x64.msi" KeyPath="yes" Source="$(var.MEGAbolt.TargetDir)\MEGAboltSetup_x64.msi" />
            </Component>
            <Component Id="MEGAboltSetup_x64.wixpdb" Directory="APPLICATIONFOLDER" Guid="*">
                <File Id="MEGAboltSetup_x64.wixpdb" KeyPath="yes" Source="$(var.MEGAbolt.TargetDir)\MEGAboltSetup_x64.wixpdb" />
            </Component>
            <Component Id="MEGAbrain.deps.json" Directory="APPLICATIONFOLDER" Guid="*">
                <File Id="MEGAbrain.deps.json" KeyPath="yes" Source="$(var.MEGAbolt.TargetDir)\MEGAbrain.deps.json" />
            </Component>
            <Component Id="MEGAbrain.dll" Directory="APPLICATIONFOLDER" Guid="*">
                <File Id="MEGAbrain.dll" KeyPath="yes" Source="$(var.MEGAbolt.TargetDir)\MEGAbrain.dll" />
            </Component>
            <Component Id="MEGAbrain.pdb" Directory="APPLICATIONFOLDER" Guid="*">
                <File Id="MEGAbrain.pdb" KeyPath="yes" Source="$(var.MEGAbolt.TargetDir)\MEGAbrain.pdb" />
            </Component>
            <Component Id="MEGArestart.deps.json" Directory="APPLICATIONFOLDER" Guid="*">
                <File Id="MEGArestart.deps.json" KeyPath="yes" Source="$(var.MEGAbolt.TargetDir)\MEGArestart.deps.json" />
            </Component>
            <Component Id="MEGArestart.dll" Directory="APPLICATIONFOLDER" Guid="*">
                <File Id="MEGArestart.dll" KeyPath="yes" Source="$(var.MEGAbolt.TargetDir)\MEGArestart.dll" />
            </Component>
            <Component Id="MEGArestart.exe" Directory="APPLICATIONFOLDER" Guid="*">
                <File Id="MEGArestart.exe" KeyPath="yes" Source="$(var.MEGAbolt.TargetDir)\MEGArestart.exe" />
            </Component>
            <Component Id="MEGArestart.pdb" Directory="APPLICATIONFOLDER" Guid="*">
                <File Id="MEGArestart.pdb" KeyPath="yes" Source="$(var.MEGAbolt.TargetDir)\MEGArestart.pdb" />
            </Component>
            <Component Id="MEGArestart.runtimeconfig.dev.json" Directory="APPLICATIONFOLDER" Guid="*">
                <File Id="MEGArestart.runtimeconfig.dev.json" KeyPath="yes" Source="$(var.MEGAbolt.TargetDir)\MEGArestart.runtimeconfig.dev.json" />
            </Component>
            <Component Id="MEGArestart.runtimeconfig.json" Directory="APPLICATIONFOLDER" Guid="*">
                <File Id="MEGArestart.runtimeconfig.json" KeyPath="yes" Source="$(var.MEGAbolt.TargetDir)\MEGArestart.runtimeconfig.json" />
            </Component>
            <Component Id="MEGAx.deps.json" Directory="APPLICATIONFOLDER" Guid="*">
                <File Id="MEGAx.deps.json" KeyPath="yes" Source="$(var.MEGAbolt.TargetDir)\MEGAx.deps.json" />
            </Component>
            <Component Id="MEGAx.dll" Directory="APPLICATIONFOLDER" Guid="*">
                <File Id="MEGAx.dll" KeyPath="yes" Source="$(var.MEGAbolt.TargetDir)\MEGAx.dll" />
            </Component>
            <Component Id="MEGAx.pdb" Directory="APPLICATIONFOLDER" Guid="*">
                <File Id="MEGAx.pdb" KeyPath="yes" Source="$(var.MEGAbolt.TargetDir)\MEGAx.pdb" />
            </Component>
            <Component Id="Microsoft.Experimental.Collections.dll" Directory="APPLICATIONFOLDER" Guid="*">
                <File Id="Microsoft.Experimental.Collections.dll" KeyPath="yes" Source="$(var.MEGAbolt.TargetDir)\Microsoft.Experimental.Collections.dll" />
            </Component>
            <Component Id="Microsoft.Extensions.ObjectPool.dll" Directory="APPLICATIONFOLDER" Guid="*">
                <File Id="Microsoft.Extensions.ObjectPool.dll" KeyPath="yes" Source="$(var.MEGAbolt.TargetDir)\Microsoft.Extensions.ObjectPool.dll" />
            </Component>
            <Component Id="Microsoft.Extensions.PlatformAbstractions.dll" Directory="APPLICATIONFOLDER" Guid="*">
                <File Id="Microsoft.Extensions.PlatformAbstractions.dll" KeyPath="yes" Source="$(var.MEGAbolt.TargetDir)\Microsoft.Extensions.PlatformAbstractions.dll" />
            </Component>
            <Component Id="MuteList.xml" Directory="APPLICATIONFOLDER" Guid="*">
                <File Id="MuteList.xml" KeyPath="yes" Source="$(var.MEGAbolt.TargetDir)\MuteList.xml" />
            </Component>
            <Component Id="NetSparkle.dll" Directory="APPLICATIONFOLDER" Guid="*">
                <File Id="NetSparkle.dll" KeyPath="yes" Source="$(var.MEGAbolt.TargetDir)\NetSparkle.dll" />
            </Component>
            <Component Id="NetSparkleUpdater.UI.WinForms.dll" Directory="APPLICATIONFOLDER" Guid="*">
                <File Id="NetSparkleUpdater.UI.WinForms.dll" KeyPath="yes" Source="$(var.MEGAbolt.TargetDir)\NetSparkleUpdater.UI.WinForms.dll" />
            </Component>
            <Component Id="Nini.dll" Directory="APPLICATIONFOLDER" Guid="*">
                <File Id="Nini.dll" KeyPath="yes" Source="$(var.MEGAbolt.TargetDir)\Nini.dll" />
            </Component>
            <Component Id="NSec.Cryptography.dll" Directory="APPLICATIONFOLDER" Guid="*">
                <File Id="NSec.Cryptography.dll" KeyPath="yes" Source="$(var.MEGAbolt.TargetDir)\NSec.Cryptography.dll" />
            </Component>
            <Component Id="OggVorbisEncoder.dll" Directory="APPLICATIONFOLDER" Guid="*">
                <File Id="OggVorbisEncoder.dll" KeyPath="yes" Source="$(var.MEGAbolt.TargetDir)\OggVorbisEncoder.dll" />
            </Component>
            <Component Id="OpenJpegDotNet.dll" Directory="APPLICATIONFOLDER" Guid="*">
                <File Id="OpenJpegDotNet.dll" KeyPath="yes" Source="$(var.MEGAbolt.TargetDir)\OpenJpegDotNet.dll" />
            </Component>
            <Component Id="OpenTK.Compute.dll" Directory="APPLICATIONFOLDER" Guid="*">
                <File Id="OpenTK.Compute.dll" KeyPath="yes" Source="$(var.MEGAbolt.TargetDir)\OpenTK.Compute.dll" />
            </Component>
            <Component Id="OpenTK.Core.dll" Directory="APPLICATIONFOLDER" Guid="*">
                <File Id="OpenTK.Core.dll" KeyPath="yes" Source="$(var.MEGAbolt.TargetDir)\OpenTK.Core.dll" />
            </Component>
            <Component Id="OpenTK.Graphics.dll" Directory="APPLICATIONFOLDER" Guid="*">
                <File Id="OpenTK.Graphics.dll" KeyPath="yes" Source="$(var.MEGAbolt.TargetDir)\OpenTK.Graphics.dll" />
            </Component>
            <Component Id="OpenTK.Input.dll" Directory="APPLICATIONFOLDER" Guid="*">
                <File Id="OpenTK.Input.dll" KeyPath="yes" Source="$(var.MEGAbolt.TargetDir)\OpenTK.Input.dll" />
            </Component>
            <Component Id="OpenTK.Mathematics.dll" Directory="APPLICATIONFOLDER" Guid="*">
                <File Id="OpenTK.Mathematics.dll" KeyPath="yes" Source="$(var.MEGAbolt.TargetDir)\OpenTK.Mathematics.dll" />
            </Component>
            <Component Id="OpenTK.OpenAL.dll" Directory="APPLICATIONFOLDER" Guid="*">
                <File Id="OpenTK.OpenAL.dll" KeyPath="yes" Source="$(var.MEGAbolt.TargetDir)\OpenTK.OpenAL.dll" />
            </Component>
            <Component Id="OpenTK.Windowing.Common.dll" Directory="APPLICATIONFOLDER" Guid="*">
                <File Id="OpenTK.Windowing.Common.dll" KeyPath="yes" Source="$(var.MEGAbolt.TargetDir)\OpenTK.Windowing.Common.dll" />
            </Component>
            <Component Id="OpenTK.Windowing.Desktop.dll" Directory="APPLICATIONFOLDER" Guid="*">
                <File Id="OpenTK.Windowing.Desktop.dll" KeyPath="yes" Source="$(var.MEGAbolt.TargetDir)\OpenTK.Windowing.Desktop.dll" />
            </Component>
            <Component Id="OpenTK.Windowing.GraphicsLibraryFramework.dll" Directory="APPLICATIONFOLDER" Guid="*">
                <File Id="OpenTK.Windowing.GraphicsLibraryFramework.dll" KeyPath="yes" Source="$(var.MEGAbolt.TargetDir)\OpenTK.Windowing.GraphicsLibraryFramework.dll" />
            </Component>
            <Component Id="OpenTK.WinForms.dll" Directory="APPLICATIONFOLDER" Guid="*">
                <File Id="OpenTK.WinForms.dll" KeyPath="yes" Source="$(var.MEGAbolt.TargetDir)\OpenTK.WinForms.dll" />
            </Component>
            <Component Id="ScintillaNET.Core.dll" Directory="APPLICATIONFOLDER" Guid="*">
                <File Id="ScintillaNET.Core.dll" KeyPath="yes" Source="$(var.MEGAbolt.TargetDir)\ScintillaNET.Core.dll" />
            </Component>
            <Component Id="System.CodeDom.dll" Directory="APPLICATIONFOLDER" Guid="*">
                <File Id="System.CodeDom.dll" KeyPath="yes" Source="$(var.MEGAbolt.TargetDir)\System.CodeDom.dll" />
            </Component>
            <Component Id="System.Drawing.Common.dll" Directory="APPLICATIONFOLDER" Guid="*">
                <File Id="System.Drawing.Common.dll" KeyPath="yes" Source="$(var.MEGAbolt.TargetDir)\System.Drawing.Common.dll" />
            </Component>
            <Component Id="System.Management.dll" Directory="APPLICATIONFOLDER" Guid="*">
                <File Id="System.Management.dll" KeyPath="yes" Source="$(var.MEGAbolt.TargetDir)\System.Management.dll" />
            </Component>
            <Component Id="System.Text.Json.dll" Directory="APPLICATIONFOLDER" Guid="*">
                <File Id="System.Text.Json.dll" KeyPath="yes" Source="$(var.MEGAbolt.TargetDir)\System.Text.Json.dll" />
            </Component>
            <Component Id="TP_History.xml" Directory="APPLICATIONFOLDER" Guid="*">
                <File Id="TP_History.xml" KeyPath="yes" Source="$(var.MEGAbolt.TargetDir)\TP_History.xml" />
            </Component>
            <Component Id="WeCantSpell.Hunspell.dll" Directory="APPLICATIONFOLDER" Guid="*">
                <File Id="WeCantSpell.Hunspell.dll" KeyPath="yes" Source="$(var.MEGAbolt.TargetDir)\WeCantSpell.Hunspell.dll" />
            </Component>
            <Component Id="WindowsHook.dll" Directory="APPLICATIONFOLDER" Guid="*">
                <File Id="WindowsHook.dll" KeyPath="yes" Source="$(var.MEGAbolt.TargetDir)\WindowsHook.dll" />
            </Component>
            <Component Id="XmlRpcCore.dll" Directory="APPLICATIONFOLDER" Guid="*">
                <File Id="XmlRpcCore.dll" KeyPath="yes" Source="$(var.MEGAbolt.TargetDir)\XmlRpcCore.dll" />
            </Component>
            <Component Id="zlib.net.dll" Directory="APPLICATIONFOLDER" Guid="*">
                <File Id="zlib.net.dll" KeyPath="yes" Source="$(var.MEGAbolt.TargetDir)\zlib.net.dll" />
            </Component>
            <Component Id="SciLexer.dll" Directory="assemblies" Guid="*">
                <File Id="SciLexer.dll" KeyPath="yes" Source="$(var.MEGAbolt.TargetDir)\assemblies\SciLexer.dll" />
            </Component>
            <Component Id="SciLexerx64.dll" Directory="assemblies" Guid="*">
                <File Id="SciLexerx64.dll" KeyPath="yes" Source="$(var.MEGAbolt.TargetDir)\assemblies\SciLexerx64.dll" />
            </Component>
            <Component Id="NetSparkleUpdater.UI.WinForms.resources.dll" Directory="bg" Guid="*">
                <File Id="NetSparkleUpdater.UI.WinForms.resources.dll" KeyPath="yes" Source="$(var.MEGAbolt.TargetDir)\bg\NetSparkleUpdater.UI.WinForms.resources.dll" />
            </Component>
            <Component Id="DefaultPredicates.xml" Directory="config" Guid="*">
                <File Id="DefaultPredicates.xml" KeyPath="yes" Source="$(var.MEGAbolt.TargetDir)\config\DefaultPredicates.xml" />
            </Component>
            <Component Id="GenderSubstitutions.xml" Directory="config" Guid="*">
                <File Id="GenderSubstitutions.xml" KeyPath="yes" Source="$(var.MEGAbolt.TargetDir)\config\GenderSubstitutions.xml" />
            </Component>
            <Component Id="Person2Substitutions.xml" Directory="config" Guid="*">
                <File Id="Person2Substitutions.xml" KeyPath="yes" Source="$(var.MEGAbolt.TargetDir)\config\Person2Substitutions.xml" />
            </Component>
            <Component Id="PersonSubstitutions.xml" Directory="config" Guid="*">
                <File Id="PersonSubstitutions.xml" KeyPath="yes" Source="$(var.MEGAbolt.TargetDir)\config\PersonSubstitutions.xml" />
            </Component>
            <Component Id="Settings.xml" Directory="config" Guid="*">
                <File Id="Settings.xml" KeyPath="yes" Source="$(var.MEGAbolt.TargetDir)\config\Settings.xml" />
            </Component>
            <Component Id="Splitters.xml" Directory="config" Guid="*">
                <File Id="Splitters.xml" KeyPath="yes" Source="$(var.MEGAbolt.TargetDir)\config\Splitters.xml" />
            </Component>
            <Component Id="Substitutions.xml" Directory="config" Guid="*">
                <File Id="Substitutions.xml" KeyPath="yes" Source="$(var.MEGAbolt.TargetDir)\config\Substitutions.xml" />
            </Component>
            <Component Id="NetSparkleUpdater.UI.WinForms.resources.dll_1" Directory="de" Guid="*">
                <File Id="NetSparkleUpdater.UI.WinForms.resources.dll_1" KeyPath="yes" Source="$(var.MEGAbolt.TargetDir)\de\NetSparkleUpdater.UI.WinForms.resources.dll" />
            </Component>
            <Component Id="fmod.dll.config" Directory="dll" Guid="*">
                <File Id="fmod.dll.config" KeyPath="yes" Source="$(var.MEGAbolt.TargetDir)\dll\fmod.dll.config" />
            </Component>
            <Component Id="libfmod.dylib" Directory="dll" Guid="*">
                <File Id="libfmod.dylib" KeyPath="yes" Source="$(var.MEGAbolt.TargetDir)\dll\libfmod.dylib" />
            </Component>
            <Component Id="libfmod.so" Directory="dll" Guid="*">
                <File Id="libfmod.so" KeyPath="yes" Source="$(var.MEGAbolt.TargetDir)\dll\libfmod.so" />
            </Component>
            <Component Id="libfmod.so.12" Directory="dll" Guid="*">
                <File Id="libfmod.so.12" KeyPath="yes" Source="$(var.MEGAbolt.TargetDir)\dll\libfmod.so.12" />
            </Component>
            <Component Id="libfmod.so.12.10" Directory="dll" Guid="*">
                <File Id="libfmod.so.12.10" KeyPath="yes" Source="$(var.MEGAbolt.TargetDir)\dll\libfmod.so.12.10" />
            </Component>
            <Component Id="SciLexer.dll_1" Directory="dll" Guid="*">
                <File Id="SciLexer.dll_1" KeyPath="yes" Source="$(var.MEGAbolt.TargetDir)\dll\SciLexer.dll" />
            </Component>
            <Component Id="SciLexerx64.dll_1" Directory="dll" Guid="*">
                <File Id="SciLexerx64.dll_1" KeyPath="yes" Source="$(var.MEGAbolt.TargetDir)\dll\SciLexerx64.dll" />
            </Component>
            <Component Id="fmod.dll" Directory="x64" Guid="*">
                <File Id="fmod.dll" KeyPath="yes" Source="$(var.MEGAbolt.TargetDir)\dll\x64\fmod.dll" />
            </Component>
            <Component Id="fmod.dll_1" Directory="x86" Guid="*">
                <File Id="fmod.dll_1" KeyPath="yes" Source="$(var.MEGAbolt.TargetDir)\dll\x86\fmod.dll" />
            </Component>
            <Component Id="NetSparkleUpdater.UI.WinForms.resources.dll_2" Directory="es_MX" Guid="*">
                <File Id="NetSparkleUpdater.UI.WinForms.resources.dll_2" KeyPath="yes" Source="$(var.MEGAbolt.TargetDir)\es-MX\NetSparkleUpdater.UI.WinForms.resources.dll" />
            </Component>
            <Component Id="NetSparkleUpdater.UI.WinForms.resources.dll_3" Directory="fr" Guid="*">
                <File Id="NetSparkleUpdater.UI.WinForms.resources.dll_3" KeyPath="yes" Source="$(var.MEGAbolt.TargetDir)\fr\NetSparkleUpdater.UI.WinForms.resources.dll" />
            </Component>
            <Component Id="NetSparkleUpdater.UI.WinForms.resources.dll_4" Directory="it" Guid="*">
                <File Id="NetSparkleUpdater.UI.WinForms.resources.dll_4" KeyPath="yes" Source="$(var.MEGAbolt.TargetDir)\it\NetSparkleUpdater.UI.WinForms.resources.dll" />
            </Component>
            <Component Id="NetSparkleUpdater.UI.WinForms.resources.dll_5" Directory="JA" Guid="*">
                <File Id="NetSparkleUpdater.UI.WinForms.resources.dll_5" KeyPath="yes" Source="$(var.MEGAbolt.TargetDir)\JA\NetSparkleUpdater.UI.WinForms.resources.dll" />
            </Component>
            <Component Id="NetSparkleUpdater.UI.WinForms.resources.dll_6" Directory="lt" Guid="*">
                <File Id="NetSparkleUpdater.UI.WinForms.resources.dll_6" KeyPath="yes" Source="$(var.MEGAbolt.TargetDir)\lt\NetSparkleUpdater.UI.WinForms.resources.dll" />
            </Component>
            <Component Id="NetSparkleUpdater.UI.WinForms.resources.dll_7" Directory="nl" Guid="*">
                <File Id="NetSparkleUpdater.UI.WinForms.resources.dll_7" KeyPath="yes" Source="$(var.MEGAbolt.TargetDir)\nl\NetSparkleUpdater.UI.WinForms.resources.dll" />
            </Component>
            <Component Id="avatar_lad.xml" Directory="openmetaverse_data" Guid="*">
                <File Id="avatar_lad.xml" KeyPath="yes" Source="$(var.MEGAbolt.TargetDir)\openmetaverse_data\avatar_lad.xml" />
            </Component>
            <Component Id="blush_alpha.tga" Directory="openmetaverse_data" Guid="*">
                <File Id="blush_alpha.tga" KeyPath="yes" Source="$(var.MEGAbolt.TargetDir)\openmetaverse_data\blush_alpha.tga" />
            </Component>
            <Component Id="bodyfreckles_alpha.tga" Directory="openmetaverse_data" Guid="*">
                <File Id="bodyfreckles_alpha.tga" KeyPath="yes" Source="$(var.MEGAbolt.TargetDir)\openmetaverse_data\bodyfreckles_alpha.tga" />
            </Component>
            <Component Id="body_skingrain.tga" Directory="openmetaverse_data" Guid="*">
                <File Id="body_skingrain.tga" KeyPath="yes" Source="$(var.MEGAbolt.TargetDir)\openmetaverse_data\body_skingrain.tga" />
            </Component>
            <Component Id="bump_face_wrinkles.tga" Directory="openmetaverse_data" Guid="*">
                <File Id="bump_face_wrinkles.tga" KeyPath="yes" Source="$(var.MEGAbolt.TargetDir)\openmetaverse_data\bump_face_wrinkles.tga" />
            </Component>
            <Component Id="bump_head_base.tga" Directory="openmetaverse_data" Guid="*">
                <File Id="bump_head_base.tga" KeyPath="yes" Source="$(var.MEGAbolt.TargetDir)\openmetaverse_data\bump_head_base.tga" />
            </Component>
            <Component Id="bump_lowerbody_base.tga" Directory="openmetaverse_data" Guid="*">
                <File Id="bump_lowerbody_base.tga" KeyPath="yes" Source="$(var.MEGAbolt.TargetDir)\openmetaverse_data\bump_lowerbody_base.tga" />
            </Component>
            <Component Id="bump_pants_wrinkles.tga" Directory="openmetaverse_data" Guid="*">
                <File Id="bump_pants_wrinkles.tga" KeyPath="yes" Source="$(var.MEGAbolt.TargetDir)\openmetaverse_data\bump_pants_wrinkles.tga" />
            </Component>
            <Component Id="bump_shirt_wrinkles.tga" Directory="openmetaverse_data" Guid="*">
                <File Id="bump_shirt_wrinkles.tga" KeyPath="yes" Source="$(var.MEGAbolt.TargetDir)\openmetaverse_data\bump_shirt_wrinkles.tga" />
            </Component>
            <Component Id="bump_upperbody_base.tga" Directory="openmetaverse_data" Guid="*">
                <File Id="bump_upperbody_base.tga" KeyPath="yes" Source="$(var.MEGAbolt.TargetDir)\openmetaverse_data\bump_upperbody_base.tga" />
            </Component>
            <Component Id="eyebrows_alpha.tga" Directory="openmetaverse_data" Guid="*">
                <File Id="eyebrows_alpha.tga" KeyPath="yes" Source="$(var.MEGAbolt.TargetDir)\openmetaverse_data\eyebrows_alpha.tga" />
            </Component>
            <Component Id="eyeliner_alpha.tga" Directory="openmetaverse_data" Guid="*">
                <File Id="eyeliner_alpha.tga" KeyPath="yes" Source="$(var.MEGAbolt.TargetDir)\openmetaverse_data\eyeliner_alpha.tga" />
            </Component>
            <Component Id="eyeshadow_inner_alpha.tga" Directory="openmetaverse_data" Guid="*">
                <File Id="eyeshadow_inner_alpha.tga" KeyPath="yes" Source="$(var.MEGAbolt.TargetDir)\openmetaverse_data\eyeshadow_inner_alpha.tga" />
            </Component>
            <Component Id="eyeshadow_outer_alpha.tga" Directory="openmetaverse_data" Guid="*">
                <File Id="eyeshadow_outer_alpha.tga" KeyPath="yes" Source="$(var.MEGAbolt.TargetDir)\openmetaverse_data\eyeshadow_outer_alpha.tga" />
            </Component>
            <Component Id="eyewhite.tga" Directory="openmetaverse_data" Guid="*">
                <File Id="eyewhite.tga" KeyPath="yes" Source="$(var.MEGAbolt.TargetDir)\openmetaverse_data\eyewhite.tga" />
            </Component>
            <Component Id="facehair_chincurtains_alpha.tga" Directory="openmetaverse_data" Guid="*">
                <File Id="facehair_chincurtains_alpha.tga" KeyPath="yes" Source="$(var.MEGAbolt.TargetDir)\openmetaverse_data\facehair_chincurtains_alpha.tga" />
            </Component>
            <Component Id="facehair_moustache_alpha.tga" Directory="openmetaverse_data" Guid="*">
                <File Id="facehair_moustache_alpha.tga" KeyPath="yes" Source="$(var.MEGAbolt.TargetDir)\openmetaverse_data\facehair_moustache_alpha.tga" />
            </Component>
            <Component Id="facehair_sideburns_alpha.tga" Directory="openmetaverse_data" Guid="*">
                <File Id="facehair_sideburns_alpha.tga" KeyPath="yes" Source="$(var.MEGAbolt.TargetDir)\openmetaverse_data\facehair_sideburns_alpha.tga" />
            </Component>
            <Component Id="facehair_soulpatch_alpha.tga" Directory="openmetaverse_data" Guid="*">
                <File Id="facehair_soulpatch_alpha.tga" KeyPath="yes" Source="$(var.MEGAbolt.TargetDir)\openmetaverse_data\facehair_soulpatch_alpha.tga" />
            </Component>
            <Component Id="freckles_alpha.tga" Directory="openmetaverse_data" Guid="*">
                <File Id="freckles_alpha.tga" KeyPath="yes" Source="$(var.MEGAbolt.TargetDir)\openmetaverse_data\freckles_alpha.tga" />
            </Component>
            <Component Id="gloves_fingers_alpha.tga" Directory="openmetaverse_data" Guid="*">
                <File Id="gloves_fingers_alpha.tga" KeyPath="yes" Source="$(var.MEGAbolt.TargetDir)\openmetaverse_data\gloves_fingers_alpha.tga" />
            </Component>
            <Component Id="glove_length_alpha.tga" Directory="openmetaverse_data" Guid="*">
                <File Id="glove_length_alpha.tga" KeyPath="yes" Source="$(var.MEGAbolt.TargetDir)\openmetaverse_data\glove_length_alpha.tga" />
            </Component>
            <Component Id="head_alpha.tga" Directory="openmetaverse_data" Guid="*">
                <File Id="head_alpha.tga" KeyPath="yes" Source="$(var.MEGAbolt.TargetDir)\openmetaverse_data\head_alpha.tga" />
            </Component>
            <Component Id="head_color.tga" Directory="openmetaverse_data" Guid="*">
                <File Id="head_color.tga" KeyPath="yes" Source="$(var.MEGAbolt.TargetDir)\openmetaverse_data\head_color.tga" />
            </Component>
            <Component Id="head_hair.tga" Directory="openmetaverse_data" Guid="*">
                <File Id="head_hair.tga" KeyPath="yes" Source="$(var.MEGAbolt.TargetDir)\openmetaverse_data\head_hair.tga" />
            </Component>
            <Component Id="head_highlights_alpha.tga" Directory="openmetaverse_data" Guid="*">
                <File Id="head_highlights_alpha.tga" KeyPath="yes" Source="$(var.MEGAbolt.TargetDir)\openmetaverse_data\head_highlights_alpha.tga" />
            </Component>
            <Component Id="head_shading_alpha.tga" Directory="openmetaverse_data" Guid="*">
                <File Id="head_shading_alpha.tga" KeyPath="yes" Source="$(var.MEGAbolt.TargetDir)\openmetaverse_data\head_shading_alpha.tga" />
            </Component>
            <Component Id="head_skingrain.tga" Directory="openmetaverse_data" Guid="*">
                <File Id="head_skingrain.tga" KeyPath="yes" Source="$(var.MEGAbolt.TargetDir)\openmetaverse_data\head_skingrain.tga" />
            </Component>
            <Component Id="jacket_length_lower_alpha.tga" Directory="openmetaverse_data" Guid="*">
                <File Id="jacket_length_lower_alpha.tga" KeyPath="yes" Source="$(var.MEGAbolt.TargetDir)\openmetaverse_data\jacket_length_lower_alpha.tga" />
            </Component>
            <Component Id="jacket_length_upper_alpha.tga" Directory="openmetaverse_data" Guid="*">
                <File Id="jacket_length_upper_alpha.tga" KeyPath="yes" Source="$(var.MEGAbolt.TargetDir)\openmetaverse_data\jacket_length_upper_alpha.tga" />
            </Component>
            <Component Id="jacket_open_lower_alpha.tga" Directory="openmetaverse_data" Guid="*">
                <File Id="jacket_open_lower_alpha.tga" KeyPath="yes" Source="$(var.MEGAbolt.TargetDir)\openmetaverse_data\jacket_open_lower_alpha.tga" />
            </Component>
            <Component Id="jacket_open_upper_alpha.tga" Directory="openmetaverse_data" Guid="*">
                <File Id="jacket_open_upper_alpha.tga" KeyPath="yes" Source="$(var.MEGAbolt.TargetDir)\openmetaverse_data\jacket_open_upper_alpha.tga" />
            </Component>
            <Component Id="lipgloss_alpha.tga" Directory="openmetaverse_data" Guid="*">
                <File Id="lipgloss_alpha.tga" KeyPath="yes" Source="$(var.MEGAbolt.TargetDir)\openmetaverse_data\lipgloss_alpha.tga" />
            </Component>
            <Component Id="lipstick_alpha.tga" Directory="openmetaverse_data" Guid="*">
                <File Id="lipstick_alpha.tga" KeyPath="yes" Source="$(var.MEGAbolt.TargetDir)\openmetaverse_data\lipstick_alpha.tga" />
            </Component>
            <Component Id="lips_mask.tga" Directory="openmetaverse_data" Guid="*">
                <File Id="lips_mask.tga" KeyPath="yes" Source="$(var.MEGAbolt.TargetDir)\openmetaverse_data\lips_mask.tga" />
            </Component>
            <Component Id="lowerbody_color.tga" Directory="openmetaverse_data" Guid="*">
                <File Id="lowerbody_color.tga" KeyPath="yes" Source="$(var.MEGAbolt.TargetDir)\openmetaverse_data\lowerbody_color.tga" />
            </Component>
            <Component Id="lowerbody_highlights_alpha.tga" Directory="openmetaverse_data" Guid="*">
                <File Id="lowerbody_highlights_alpha.tga" KeyPath="yes" Source="$(var.MEGAbolt.TargetDir)\openmetaverse_data\lowerbody_highlights_alpha.tga" />
            </Component>
            <Component Id="lowerbody_shading_alpha.tga" Directory="openmetaverse_data" Guid="*">
                <File Id="lowerbody_shading_alpha.tga" KeyPath="yes" Source="$(var.MEGAbolt.TargetDir)\openmetaverse_data\lowerbody_shading_alpha.tga" />
            </Component>
            <Component Id="nailpolish_alpha.tga" Directory="openmetaverse_data" Guid="*">
                <File Id="nailpolish_alpha.tga" KeyPath="yes" Source="$(var.MEGAbolt.TargetDir)\openmetaverse_data\nailpolish_alpha.tga" />
            </Component>
            <Component Id="pants_length_alpha.tga" Directory="openmetaverse_data" Guid="*">
                <File Id="pants_length_alpha.tga" KeyPath="yes" Source="$(var.MEGAbolt.TargetDir)\openmetaverse_data\pants_length_alpha.tga" />
            </Component>
            <Component Id="pants_waist_alpha.tga" Directory="openmetaverse_data" Guid="*">
                <File Id="pants_waist_alpha.tga" KeyPath="yes" Source="$(var.MEGAbolt.TargetDir)\openmetaverse_data\pants_waist_alpha.tga" />
            </Component>
            <Component Id="rosyface_alpha.tga" Directory="openmetaverse_data" Guid="*">
                <File Id="rosyface_alpha.tga" KeyPath="yes" Source="$(var.MEGAbolt.TargetDir)\openmetaverse_data\rosyface_alpha.tga" />
            </Component>
            <Component Id="rouge_alpha.tga" Directory="openmetaverse_data" Guid="*">
                <File Id="rouge_alpha.tga" KeyPath="yes" Source="$(var.MEGAbolt.TargetDir)\openmetaverse_data\rouge_alpha.tga" />
            </Component>
            <Component Id="shirt_bottom_alpha.tga" Directory="openmetaverse_data" Guid="*">
                <File Id="shirt_bottom_alpha.tga" KeyPath="yes" Source="$(var.MEGAbolt.TargetDir)\openmetaverse_data\shirt_bottom_alpha.tga" />
            </Component>
            <Component Id="shirt_collar_alpha.tga" Directory="openmetaverse_data" Guid="*">
                <File Id="shirt_collar_alpha.tga" KeyPath="yes" Source="$(var.MEGAbolt.TargetDir)\openmetaverse_data\shirt_collar_alpha.tga" />
            </Component>
            <Component Id="shirt_collar_back_alpha.tga" Directory="openmetaverse_data" Guid="*">
                <File Id="shirt_collar_back_alpha.tga" KeyPath="yes" Source="$(var.MEGAbolt.TargetDir)\openmetaverse_data\shirt_collar_back_alpha.tga" />
            </Component>
            <Component Id="shirt_sleeve_alpha.tga" Directory="openmetaverse_data" Guid="*">
                <File Id="shirt_sleeve_alpha.tga" KeyPath="yes" Source="$(var.MEGAbolt.TargetDir)\openmetaverse_data\shirt_sleeve_alpha.tga" />
            </Component>
            <Component Id="shoe_height_alpha.tga" Directory="openmetaverse_data" Guid="*">
                <File Id="shoe_height_alpha.tga" KeyPath="yes" Source="$(var.MEGAbolt.TargetDir)\openmetaverse_data\shoe_height_alpha.tga" />
            </Component>
            <Component Id="skirt_length_alpha.tga" Directory="openmetaverse_data" Guid="*">
                <File Id="skirt_length_alpha.tga" KeyPath="yes" Source="$(var.MEGAbolt.TargetDir)\openmetaverse_data\skirt_length_alpha.tga" />
            </Component>
            <Component Id="skirt_slit_back_alpha.tga" Directory="openmetaverse_data" Guid="*">
                <File Id="skirt_slit_back_alpha.tga" KeyPath="yes" Source="$(var.MEGAbolt.TargetDir)\openmetaverse_data\skirt_slit_back_alpha.tga" />
            </Component>
            <Component Id="skirt_slit_front_alpha.tga" Directory="openmetaverse_data" Guid="*">
                <File Id="skirt_slit_front_alpha.tga" KeyPath="yes" Source="$(var.MEGAbolt.TargetDir)\openmetaverse_data\skirt_slit_front_alpha.tga" />
            </Component>
            <Component Id="skirt_slit_left_alpha.tga" Directory="openmetaverse_data" Guid="*">
                <File Id="skirt_slit_left_alpha.tga" KeyPath="yes" Source="$(var.MEGAbolt.TargetDir)\openmetaverse_data\skirt_slit_left_alpha.tga" />
            </Component>
            <Component Id="skirt_slit_right_alpha.tga" Directory="openmetaverse_data" Guid="*">
                <File Id="skirt_slit_right_alpha.tga" KeyPath="yes" Source="$(var.MEGAbolt.TargetDir)\openmetaverse_data\skirt_slit_right_alpha.tga" />
            </Component>
            <Component Id="underpants_trial_female.tga" Directory="openmetaverse_data" Guid="*">
                <File Id="underpants_trial_female.tga" KeyPath="yes" Source="$(var.MEGAbolt.TargetDir)\openmetaverse_data\underpants_trial_female.tga" />
            </Component>
            <Component Id="underpants_trial_male.tga" Directory="openmetaverse_data" Guid="*">
                <File Id="underpants_trial_male.tga" KeyPath="yes" Source="$(var.MEGAbolt.TargetDir)\openmetaverse_data\underpants_trial_male.tga" />
            </Component>
            <Component Id="undershirt_trial_female.tga" Directory="openmetaverse_data" Guid="*">
                <File Id="undershirt_trial_female.tga" KeyPath="yes" Source="$(var.MEGAbolt.TargetDir)\openmetaverse_data\undershirt_trial_female.tga" />
            </Component>
            <Component Id="upperbodyfreckles_alpha.tga" Directory="openmetaverse_data" Guid="*">
                <File Id="upperbodyfreckles_alpha.tga" KeyPath="yes" Source="$(var.MEGAbolt.TargetDir)\openmetaverse_data\upperbodyfreckles_alpha.tga" />
            </Component>
            <Component Id="upperbody_color.tga" Directory="openmetaverse_data" Guid="*">
                <File Id="upperbody_color.tga" KeyPath="yes" Source="$(var.MEGAbolt.TargetDir)\openmetaverse_data\upperbody_color.tga" />
            </Component>
            <Component Id="upperbody_highlights_alpha.tga" Directory="openmetaverse_data" Guid="*">
                <File Id="upperbody_highlights_alpha.tga" KeyPath="yes" Source="$(var.MEGAbolt.TargetDir)\openmetaverse_data\upperbody_highlights_alpha.tga" />
            </Component>
            <Component Id="upperbody_shading_alpha.tga" Directory="openmetaverse_data" Guid="*">
                <File Id="upperbody_shading_alpha.tga" KeyPath="yes" Source="$(var.MEGAbolt.TargetDir)\openmetaverse_data\upperbody_shading_alpha.tga" />
            </Component>
            <Component Id="NetSparkleUpdater.UI.WinForms.resources.dll_8" Directory="pt_BR" Guid="*">
                <File Id="NetSparkleUpdater.UI.WinForms.resources.dll_8" KeyPath="yes" Source="$(var.MEGAbolt.TargetDir)\pt-BR\NetSparkleUpdater.UI.WinForms.resources.dll" />
            </Component>
            <Component Id="MD5library.dll_1" Directory="ref" Guid="*">
                <File Id="MD5library.dll_1" KeyPath="yes" Source="$(var.MEGAbolt.TargetDir)\ref\MD5library.dll" />
            </Component>
            <Component Id="MEGAbolt.dll_1" Directory="ref" Guid="*">
                <File Id="MEGAbolt.dll_1" KeyPath="yes" Source="$(var.MEGAbolt.TargetDir)\ref\MEGAbolt.dll" />
            </Component>
            <Component Id="MEGAbrain.dll_1" Directory="ref" Guid="*">
                <File Id="MEGAbrain.dll_1" KeyPath="yes" Source="$(var.MEGAbolt.TargetDir)\ref\MEGAbrain.dll" />
            </Component>
            <Component Id="MEGArestart.dll_1" Directory="ref" Guid="*">
                <File Id="MEGArestart.dll_1" KeyPath="yes" Source="$(var.MEGAbolt.TargetDir)\ref\MEGArestart.dll" />
            </Component>
            <Component Id="MEGAx.dll_1" Directory="ref" Guid="*">
                <File Id="MEGAx.dll_1" KeyPath="yes" Source="$(var.MEGAbolt.TargetDir)\ref\MEGAx.dll" />
            </Component>
            <Component Id="NetSparkleUpdater.UI.WinForms.resources.dll_9" Directory="ru" Guid="*">
                <File Id="NetSparkleUpdater.UI.WinForms.resources.dll_9" KeyPath="yes" Source="$(var.MEGAbolt.TargetDir)\ru\NetSparkleUpdater.UI.WinForms.resources.dll" />
            </Component>
            <Component Id="libsodium.so" Directory="native" Guid="*">
                <File Id="libsodium.so" KeyPath="yes" Source="$(var.MEGAbolt.TargetDir)\runtimes\linux-musl-x64\native\libsodium.so" />
            </Component>
            <Component Id="libglfw.so.3.3" Directory="native_1" Guid="*">
                <File Id="libglfw.so.3.3" KeyPath="yes" Source="$(var.MEGAbolt.TargetDir)\runtimes\linux-x64\native\libglfw.so.3.3" />
            </Component>
            <Component Id="libOpenJpegDotNetNative.so" Directory="native_1" Guid="*">
                <File Id="libOpenJpegDotNetNative.so" KeyPath="yes" Source="$(var.MEGAbolt.TargetDir)\runtimes\linux-x64\native\libOpenJpegDotNetNative.so" />
            </Component>
            <Component Id="libsodium.so_1" Directory="native_1" Guid="*">
                <File Id="libsodium.so_1" KeyPath="yes" Source="$(var.MEGAbolt.TargetDir)\runtimes\linux-x64\native\libsodium.so" />
            </Component>
            <Component Id="libglfw.3.dylib" Directory="native_2" Guid="*">
                <File Id="libglfw.3.dylib" KeyPath="yes" Source="$(var.MEGAbolt.TargetDir)\runtimes\osx-x64\native\libglfw.3.dylib" />
            </Component>
            <Component Id="libOpenJpegDotNetNative.dylib" Directory="native_2" Guid="*">
                <File Id="libOpenJpegDotNetNative.dylib" KeyPath="yes" Source="$(var.MEGAbolt.TargetDir)\runtimes\osx-x64\native\libOpenJpegDotNetNative.dylib" />
            </Component>
            <Component Id="libsodium.dylib" Directory="native_2" Guid="*">
                <File Id="libsodium.dylib" KeyPath="yes" Source="$(var.MEGAbolt.TargetDir)\runtimes\osx-x64\native\libsodium.dylib" />
            </Component>
            <Component Id="System.Drawing.Common.dll_1" Directory="netcoreapp3.0" Guid="*">
                <File Id="System.Drawing.Common.dll_1" KeyPath="yes" Source="$(var.MEGAbolt.TargetDir)\runtimes\unix\lib\netcoreapp3.0\System.Drawing.Common.dll" />
            </Component>
            <Component Id="System.Drawing.Common.dll_2" Directory="netcoreapp3.0_1" Guid="*">
                <File Id="System.Drawing.Common.dll_2" KeyPath="yes" Source="$(var.MEGAbolt.TargetDir)\runtimes\win\lib\netcoreapp3.0\System.Drawing.Common.dll" />
            </Component>
            <Component Id="System.Management.dll_1" Directory="netcoreapp3.1" Guid="*">
                <File Id="System.Management.dll_1" KeyPath="yes" Source="$(var.MEGAbolt.TargetDir)\runtimes\win\lib\netcoreapp3.1\System.Management.dll" />
            </Component>
            <Component Id="glfw3.dll" Directory="native_3" Guid="*">
                <File Id="glfw3.dll" KeyPath="yes" Source="$(var.MEGAbolt.TargetDir)\runtimes\win-x64\native\glfw3.dll" />
            </Component>
            <Component Id="libsodium.dll" Directory="native_3" Guid="*">
                <File Id="libsodium.dll" KeyPath="yes" Source="$(var.MEGAbolt.TargetDir)\runtimes\win-x64\native\libsodium.dll" />
            </Component>
            <Component Id="OpenJpegDotNetNative.dll" Directory="native_3" Guid="*">
                <File Id="OpenJpegDotNetNative.dll" KeyPath="yes" Source="$(var.MEGAbolt.TargetDir)\runtimes\win-x64\native\OpenJpegDotNetNative.dll" />
            </Component>
            <Component Id="glfw3.dll_1" Directory="native_4" Guid="*">
                <File Id="glfw3.dll_1" KeyPath="yes" Source="$(var.MEGAbolt.TargetDir)\runtimes\win-x86\native\glfw3.dll" />
            </Component>
            <Component Id="libsodium.dll_1" Directory="native_4" Guid="*">
                <File Id="libsodium.dll_1" KeyPath="yes" Source="$(var.MEGAbolt.TargetDir)\runtimes\win-x86\native\libsodium.dll" />
            </Component>
            <Component Id="OpenJpegDotNetNative.dll_1" Directory="native_4" Guid="*">
                <File Id="OpenJpegDotNetNative.dll_1" KeyPath="yes" Source="$(var.MEGAbolt.TargetDir)\runtimes\win-x86\native\OpenJpegDotNetNative.dll" />
            </Component>
            <Component Id="NetSparkleUpdater.UI.WinForms.resources.dll_10" Directory="zh_CN" Guid="*">
                <File Id="NetSparkleUpdater.UI.WinForms.resources.dll_10" KeyPath="yes" Source="$(var.MEGAbolt.TargetDir)\zh-CN\NetSparkleUpdater.UI.WinForms.resources.dll" />
            </Component>
            <Component Id="NetSparkleUpdater.UI.WinForms.resources.dll_11" Directory="zh_TW" Guid="*">
                <File Id="NetSparkleUpdater.UI.WinForms.resources.dll_11" KeyPath="yes" Source="$(var.MEGAbolt.TargetDir)\zh-TW\NetSparkleUpdater.UI.WinForms.resources.dll" />
            </Component>
        </ComponentGroup>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="unix">
            <Directory Id="lib" Name="lib" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="win">
            <Directory Id="lib_1" Name="lib" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="runtimes">
            <Directory Id="linux_musl_x64" Name="linux-musl-x64" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="runtimes">
            <Directory Id="linux_x64" Name="linux-x64" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="linux_musl_x64">
            <Directory Id="native" Name="native" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="linux_x64">
            <Directory Id="native_1" Name="native" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="osx_x64">
            <Directory Id="native_2" Name="native" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="win_x64">
            <Directory Id="native_3" Name="native" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="win_x86">
            <Directory Id="native_4" Name="native" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="lib">
            <Directory Id="netcoreapp3.0" Name="netcoreapp3.0" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="lib_1">
            <Directory Id="netcoreapp3.0_1" Name="netcoreapp3.0" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="lib_1">
            <Directory Id="netcoreapp3.1" Name="netcoreapp3.1" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="runtimes">
            <Directory Id="osx_x64" Name="osx-x64" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="runtimes">
            <Directory Id="unix" Name="unix" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="runtimes">
            <Directory Id="win" Name="win" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="runtimes">
            <Directory Id="win_x64" Name="win-x64" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="runtimes">
            <Directory Id="win_x86" Name="win-x86" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dll">
            <Directory Id="x64" Name="x64" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dll">
            <Directory Id="x86" Name="x86" />
        </DirectoryRef>
    </Fragment>
</Wix>